@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.typing-cursor {
  display: inline-block;
  animation: blink 1s infinite;
}

.z-index-10{
  z-index: 10;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
