@import "tailwindcss";
@theme{
    /* colors: { primary: "#6B4BFF", secondary: "#00F0FF" }, */
    /* borderRadius: {
      none: "0px",
      sm: "4px",
      DEFAULT: "8px",
      md: "12px",
      lg: "16px",
      xl: "20px",
      "2xl": "24px",
      "3xl": "32px",
      full: "9999px",
      button: "8px",
    }, */
  
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000319;
}

.work-card {
  width: 585px;
}

.section-gap {
  margin: 64px 0;
}

.tech-card {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid rgba(38, 38, 38, .7);
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  --glow-color: rgba(0, 0, 0, 0);
  /* opacity: 0; */
  transition: opacity .4s ease;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.tech-card:hover::before {
  opacity: 1;
  transition: opacity .2s ease;
}
.tech-card::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fac52b;
  filter: blur(18px);
  z-index: -1;
  opacity: 0;
  transition: opacity 3s ease;
  will-change: opacity;
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

@keyframes scrollBounce {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  50% {
    transform: translateY(8px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}

.scroll-down-animation {
  animation: scrollBounce 2s ease-in-out infinite;
}
